@font-face {
  font-family: "Futura";
  src: url("../fonts/futurabookc.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Futura Medium";
  src: url("../fonts/futuramediumc.ttf");
  font-weight: 500;
  font-style: normal;
}
.header {
  background: #4C3D74;
  height: 850px;
}
.header__lob {
  display: flex;
  color: #FFF;
  font-family: Futura;
  font-weight: 700;
}
.header__lob__logo {
  font-size: 14px;
  margin: 105px 0 0 239px;
}
.header__lob__text a {
  color: #FFF;
  font-family: Futura;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin: 30px;
}
.header__lob__text {
  margin: 120px 0 0 650px;
}
.header__contayner {
  display: flex;
}
.header__text {
  color: #FFF;
  font-family: Futura;
  font-weight: 700;
  margin-left: 239px;
}
.header__logo1 {
  font-size: 20px;
  margin-top: 103px;
}
.header__logo2 {
  font-size: 50px;
  margin-top: 30px;
}
.header__opis {
  font-size: 20px;
  margin-top: 30px;
}
.header__buttons {
  display: flex;
  padding-top: 30px;
}
.header__button1 {
  width: 245px;
  height: 60px;
  border-radius: 30px;
  background: #A387C4;
  color: #FFF;
  font-family: Futura;
  font-size: 16px;
}
.header__button2 {
  width: 245px;
  height: 60px;
  border-radius: 30px;
  background: #4C3D74;
  border: 3px solid #A387C4;
  color: #FFF;
  font-family: Futura;
  font-size: 16px;
  margin-left: 30px;
}
.header__pic {
  margin-left: 300px;
}

.main__logo {
  color: #504178;
  font-family: Futura;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 167px;
}
.main__block {
  display: flex;
  justify-content: center;
}
.main__block__1 {
  width: 341px;
  height: 138px;
  border-radius: 30px;
  border: 3px solid #4C3D74;
  background: #F2EEF7;
  display: flex;
  margin: 30px 30px;
}
.main__block__1__pic {
  margin-left: -45px;
  align-items: center;
  display: flex;
}
.main__block__1__text {
  color: #4C3D74;
  font-family: Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-left: 30px;
  align-items: center;
  display: flex;
}
.main__opis {
  display: flex;
  justify-content: center;
}
.main__opis__text {
  color: #4C3D74;
  font-family: Futura;
  font-size: 20px;
  font-weight: 700;
}
.main__opis__btn button {
  width: 245px;
  height: 60px;
  border-radius: 30px;
  background: #A387C4;
  color: #FFF;
  font-family: Futura;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.main__opis__btn {
  margin: 20px 0 0 30px;
}
.main__opis__pic {
  margin-left: 60px;
}

@media (max-width: 1650px) {
  .header__lob__text {
    margin: 100px 0 0 350px;
  }
}
@media (max-width: 1550px) {
  .header__lob__text {
    margin: 50px 0 0 250px;
  }
  .header__text {
    margin-left: 50px;
  }
}
@media (max-width: 1350px) {
  .header__lob__text {
    margin: 50px 0 0 150px;
  }
  .header__lob__logo {
    margin-left: 50px;
  }
  .header__text {
    margin-left: 50px;
  }
  .header__pic {
    margin-left: 50px;
  }
}
@media (max-width: 1155px) {
  .header {
    height: 1300px;
  }
  .header__lob__text {
    margin: 50px 0 0 150px;
  }
  .header__lob__logo {
    margin-left: 50px;
  }
  .header__contayner {
    display: block;
  }
  .header__text {
    margin-left: 50px;
  }
  .header__pic {
    display: block;
  }
  .main__block {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .main__opis {
    display: block;
    justify-content: center;
  }
}